# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
coverage/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
